.employeeItem {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  gap: 20px;
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__actions {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}
