.form {
  margin-bottom: 50px;
  input:placeholder-shown {
    font-style: italic;
  }

  &--error {
    font-style: italic;
    color: red;
    font-size: 0.75rem;
  }

  &__actions {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
